
nav {
    width: 87%;
    height: 64px;
    margin: auto;
    border-bottom: 1px solid #D8D7DB;
    position: relative;
    z-index: 500;
}
.header__menu {
    margin-top: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.logo {
    width: 33px;
    height: 36px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.menu a {
    font-size: 16px;
    line-height: 100%;
    font-family: "Gilroy";
    color: #1A1A1A;
    cursor: pointer;
    transition: all 0.3s ease;
}
.menu a:hover {
    color: red;
}



.menu a sup {
    font-size: 10px;
}
.yellow {
    background-color: Yellow;
}
.menu_arrow {
    margin-top: 5px;
    width: 10px;
    height: 8px;
}

.burger__menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 1em;
    font-family: 'RoadRadio';
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.burger_menu_icon {
    width: 30px;
    height: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.burger_menu_icon span {
    width: 30px;
    height: 2px;
    background-color: #1A1A1A;
}
.burger_menu_icon .botton_arrow {
    width: 15px;
    transition: all 0.25s ease;
}
.burger__menu:hover .burger_menu_icon .botton_arrow {
    width: 30px;
}
.close_burger_menu {
    width: 22px;
    height: 22px;
    transition: all 0.25s;
}
.burger__menu:hover .close_burger_menu {
    transform: scale(0.6);
}
.burger__menu_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.5em 0;
    background-color: #F3F3F5;
}
.left__burger_menu {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    gap: 1em;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.left__burger_menu a {
    font-family: "Gilroy";
    font-size: 42px;
    font-weight: 600;
    color: #1A1A1A;
    position: relative;
}
.left__burger_menu a::after {
    background-color: #1a1a1a;
    content: "";
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 0;
    height: 2px;
    transition: 0.3s ease-in-out; 
}
.left__burger_menu a:hover::after {
    width: 100%;
}

.left__burger_menu a sup {
    font-size: 12px;
    background-color: yellow;
}
.right__burger_menu {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    gap: 1em;
    flex-direction: column;
    width: 50%;
    height: 100%;    
}
.right__title {
    font-family: "Gilroy";
    font-size: 42px;
    font-weight: 600;
    color: #1A1A1A;
    position: relative;
}
.right__title::after {
    background-color: #1a1a1a;
    content: "";
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 0;
    height: 2px;
    transition: 0.3s ease-in-out; 
}
.right__title:hover::after {
    width: 100%;
}

.right__title sup {
    font-size: 12px;
}
.right__block_items {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.right__block_items a {
    font-size: 17px;
    color: #818181;
    font-family: "Gilroy";
    position: relative;
}
.right__block_items a::after {
    background-color: #1a1a1a;
    content: "";
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 0;
    height: 1px;
    transition: 0.3s ease-in-out; 
}
.right__block_items a:hover::after {
    width: 100%;
}

.burger__menu_info {
    padding: 2em 0;
    background-color: #F3F3F5;
    position: relative;
    z-index: 500;
    width: 100%;
    height: 100%;
    border: 1px solid #D8D7DB;
    border-left: none;
    border-right: none;
    display: flex;
    align-items: center;
}
.burger__menu_info h2 {
    font-family: 'RoadRadio';
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    margin-left: 1em;
}
.burger__menu_contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
    padding: 2em 0;
    width: 100%;
    height: 100%;
    background-color: #F3F3F5;
}
.contacts__title {
    color: #1A1A1A;
    font-family: "Gilroy";
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
}
.contacts__text {
    color: #535354;
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

.burger__open, .burger__close {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.burger__close, .burger__menu_contacts, .burger__menu_block, .burger__menu_info {
    display: none;
}

@media screen and (max-width: 768px) {
   .menu a {
    display: none;
   }
   .burger__menu_block {
    flex-direction: column;
    align-items: inherit;
    justify-content: inherit;
   }
   .right__burger_menu {
    margin-top: 10px;
   }
   .right__burger_menu, .left__burger_menu {
    width: 100%;
   }
   .right__block_items {
    gap: 5px;
   }
   .burger__menu_contacts {
    flex-direction: column;
    align-items: inherit;
   }
}